


.search {
    margin: 20px;
  }
  
  .search > h3 {
    font-weight: normal;
  }
  
  .search > h1,
  .search > h3 {
    color: white;
    margin-bottom: 15px;
    text-shadow: 0 1px #6e6e6e;
  }
  
  .search > div {
    display: inline-block;
    position: relative;
  /*   filter: drop-shadow(0 1px black); */
  }
  
  .search > div:after {
    content: "";
    background: #6e6e6e;
    width: 3px;
    height: 10px;
    position: absolute;
    top: 20px;
    right: 2px;
    left: -2px;
    transform: rotate(-135deg);
  }
  
  .search > div > input {
    color: #6e6e6e;
    font-size: 12px;
    background: transparent;
    width: 12px;
    height: 12px;
    padding: 5px;
    border: solid 3px #6e6e6e;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
  }
  
  .search > div > input::placeholder {
    color: #6e6e6e;
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
  
  .search > div > input:focus::placeholder {
    opacity: 1;
  }
  
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
    width: 300px;
  }
  